#root {
  background-color: white;
}


.ag-theme-quartz,
.ag-theme-quartz-dark {
    /* --ag-foreground-color: rgb(126, 46, 132); */
    /* --ag-background-color: rgb(249, 245, 227); */
    /* --ag-header-foreground-color: rgb(204, 245, 172); */
    --ag-header-background-color: #ecf1fd;
    /* --ag-odd-row-background-color: rgb(0, 0, 0, 0.03); */
    /* --ag-header-column-resize-handle-color: rgb(126, 46, 132); */

    /* --ag-font-size: 17px; */
    /* --ag-font-family: monospace; */
    --ag-grid-size: 10px; /* very compact */

    --ag-borders: none;
    /* then add back a border between rows */
    /* --ag-row-border-style: dashed; */
    /* --ag-row-border-width: 5px; */
    /* --ag-row-border-color: rgb(150, 150, 200); */
    /* and between columns */
    /* --ag-cell-horizontal-border: solid rgb(150, 150, 200); */

}


.ag-theme-quartz .ag-header,
.ag-theme-quartz-dark .ag-header {
    font-family: cursive;
}

.ag-theme-quartz .ag-header-group-cell,
.ag-theme-quartz-dark .ag-header-group-cell {
    font-weight: normal;
    font-size: 22px;
}
.ag-theme-quartz .ag-header-cell,
.ag-theme-quartz-dark .ag-header-cell {
    font-size: 18px;
}

p, h1{
  /* font-family: cursive; */

}
